/db.sqlite3



/about_stadium_app/migrations/
!/about_stadium_app/migrations/__init__.py

/accounts/migrations/
!/accounts/migrations/__init__.py

/advertising_app/migrations/
!/advertising_app/migrations/__init__.py

/cart_app/migrations/
!/cart_app/migrations/__init__.py

/events_app/migrations/
!/events_app/migrations/__init__.py

/main_app/migrations/
!/main_app/migrations/__init__.py

/media_app/migrations/
!/media_app/migrations/__init__.py

/news_app/migrations/
!/news_app/migrations/__init__.py

/services_app/migrations/
!/services_app/migrations/__init__.py

/shop_app/migrations/
!/shop_app/migrations/__init__.py

/social_networks_app/migrations/
!/social_networks_app/migrations/__init__.py
