<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/order_create.css' %}">
	</head>
	<body>
		<div class="wrap">
			<div class="logotype">
				<div class="container">
					<div class="logo-wrap">
						<div class="logo__img-wrap">
							<img class = 'logo__img' src="{% static 'img/logo.svg' %}" alt="logo">
						</div>
						<div class="logo__text">
							<span>Национальный олимпийский</span>
							<span>стадион динамо</span>
						</div>
					</div>
			</div>

			</div>
			<main>
				<div class="description">
					<div class="container">
						<!-- Title -->
						<p class="order__title"><!--
						-->Оформление <span>заказа</span><!--
					--></p>
						<!-- Status  -->
						<div class="description__status">
							<div class="status">
								<div class="status-outter-circle-color">
									<div class="status-inner-circle-color"></div>
								</div>
								<div class="status-text current">
									Заполнение параметров услуг
								</div>
							</div>
							<div class="status-line"></div>
							<div class="status">
								<div class="status-outter-circle-monochrome">
									<div class="status-inner-circle-monochrome"></div>
								</div>
								<div class="status-text">
									Ввод контактных данных и оплата
								</div>
							</div>
						</div>
						<!-- Order(left)  About(Right)-->
						<div class="description-wrap">

							<!-- LEFT BLOCK -->
							<div class="description__order">

								<!-- services -->
								<div class="order__services">

									<!-- description service  -->
									<!-- Temp1 CARD: DATA-RANGE -->
									<div class="service__card" stype = 'date-range' scode = '0123'>
										<div class="service-wrap">
											<div class="service__head">
												<div class="head-name">
													Экскурсионный тур
												</div>
												<div class="head-delete-card">
												</div>
											</div>
											<div class="service__body">
												<ul class="service-hint">
													<li>Выберите день экскурсии</li>
												</ul>
												<div class="service-calculator">
													<!-- <img class="img" src='img/calculator/calculator.png'></img> -->
												</div>
											</div>
										</div>
									</div>
									<!-- Temp2 CARD: CROSS-SELL -->
									<div class="service__card" stype = 'cross-sell' scode = '0135'>
										<div class="service-wrap">
											<div class="service__head">
												<div class="head-name">
													Паркинг
												</div>
												<div class="head-delete-card">
												</div>
											</div>
											<div class="service__body">
												<form class="service__parameters" action="#" method = "#">
													<ul class="service-hint">
														<li>Выберите тип паркинга</li>
													</ul>
													<div class="service__variant-wrap">
														<label class="service__variant-label">
															<input class = 'service__variant' type="radio" checked name="parameter" coef = '1.2' get-data>
															 	<span>Крытый</span>
														</label>
														<label class="service__variant-label">
															<input class = 'service__variant' type="radio" name="parameter" coefcnt = '1.0'>
																<span>Открытый</span>
														</label>
													</div>
													<ul class="service-hint">
														<li>На сколько нужен паркинг?</li>
													</ul>
													<div class="service__params-wrap">
														<!-- amount - 1 +     +++ set [main-param]-->
														<div class="select__quantity">
															<button class="param-quantity-minus" type="button">-</button>
															<input class = 'param-quantity' type ='text' readonly placeholder="0" main-param = 'true' rangeMin = 0 rangeMax = 99 stepOne = '1' get-data>
															<button class="param-quantity-plus" type="button">+</button>
														</div>
														<!-- hours / days / weeks -->
														<div class="select-list">
															<div class="current-item" coef = '5' get-data>Часов</div>
															<div class="select-list-popup">
																<div class="select-item" rate = '5'>Часов</div>
																<div class="select-item" rate = '20'>Дней</div>
																<div class="select-item" rate = '90'>Недель</div>
															</div>
														</div>
													</div>
													<!-- ! TEST -->
													<ul class="service-hint">
														<li>Выберие тип мойки</li>
													</ul>
													<div class="service__variant-wrap">
														<label class="service__variant-label">
															<input class = 'service__variant' type="radio" checked name="parameter" coefcnt = '1.2'>
															 	<span>С мойкой</span>
														</label>
														<label class="service__variant-label">
															<input class = 'service__variant' type="radio" name="parameter" coefcnt = '1.0'>
																<span>Без мойки</span>
														</label>
													</div>
													<!-- ! TEST -->
													<ul class="service-hint">
														<li>Сколько забронировать мест?</li>
													</ul>
													<div class="service__params-wrap">
														<!-- amount - 1 +     +++ set [main-param]-->
														<div class="select__quantity">
															<button class="param-quantity-minus" type="button">-</button>
															<input class = 'param-quantity' type ='text' readonly placeholder="0" rangeMin = '1' rangeMax = '30' stepOne = '1'>
															<button class="param-quantity-plus" type="button">+</button>
														</div>
														<!-- hours / days / weeks -->
														<div class="select-list">
															<div class="current-item">Машино-мест</div>
															<div class="select-list-popup">
																<div class="select-item" rate = '5'>Часов</div>
																<div class="select-item" rate = '20'>Дней</div>
																<div class="select-item" rate = '90'>Недель</div>
															</div>
														</div>
													</div>
													<!-- ! TEST -->
												</form>
											</div>
										</div>
									</div>
									<!-- Temp3 CARD: INDIVIDUAL -->
									<div class="service__card" stype = 'individual' scode = '0175'>
										<div class="service-wrap">
											<div class="service__head pseudo indiv">
												<div class="head-name">
													Грандиозная корпоративная вечеринка
												</div>
												<div class="head-delete-card">
												</div>
											</div>
											<div class="service__body">
												<div class="service__inform">
													Стоимость и детали по вечеринке обсуждаются <span>индивидуально</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- button -->
								<div class='order__link-wrap' href="#">
									<a class = 'order__link' href="{% url 'cart:order_contacts' %}">Ввести контактные данные</a>
								</div>
							</div>
							<div class="description__about">
								<div class="about__card">
									<div class="card__img-wrap">
										<img class = 'card__img' src="{% static 'img/building.svg' %}" alt="building">
									</div>
									<div class="card__title">
										Новый современный ремонт
									</div>
									<div class="card__text"><!--
									-->Глобальная реконструкция стадиона
									 	была в 2018 году<!--
								--></div>
								</div>
								<div class="about__card">
									<div class="card__img-wrap">
										<img class = 'card__img' src="{% static 'img/car.svg' %}" alt="car">
									</div>
									<div class="card__title"><!--
									-->Удобное расположение<!--
								--></div>
									<div class="card__text"><!--
									-->Стадион находится в центре города<!--
								--></div>
								</div>
								<div class="about__card">
									<div class="card__img-wrap">
										<img class = 'card__img' src="{% static 'img/shedule.svg' %}" alt="shedule">
									</div>
									<div class="card__title"><!--
									-->Масштаб и статус объекта<!--
								--></div>
									<div class="card__text"><!--
									-->22 246 зрителей - вместимость
										стадиона<!--
								--></div>
									<div class="card__text"><!--
									-->47 015 м2 - вместимость стадиона<!--
							  --></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<script src="{% static 'JS/customElems.js' %}"></script>
		<script src="{% static 'JS/app.js' %}"></script>
	</body>
</html> 