<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>События</title>
  <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
  <link rel="stylesheet" href="{% static 'css/dinamo_events.css' %}">
</head>
<body>
    {% include 'header.html' %}

<div class="wrapper">
    
    <nav class="navigation">
        <ul class="navigation__list">
            <li><a href="{% url 'main:main_page' %}">Главная</a></li>
            <li><img src="{% static 'img/icons/arrow-nav.svg' %}" alt="svg"></li>
            <li><a href=".">Контакты</a></li>
        </ul>
    </nav>

<section class="slogan">
  <h1 class="slogan__title">
    регистрация на мероприятия
  </h1>
</section>

<section class="cards">

    <div class="cards__item">
        <div class="cards__item-body">
        <div class="cards__item-title">
            <div class="cards__item-title-text">
                Открытый чемпионат республики Беларусь по лёгкой атлетике среди ветеранов
            </div>
            <div class="cards__item-title-aside">
                    11 июня — 11 июля <span class="gray">2021</span>
            </div>
        </div>
        <a href="#" class="cards__item-button">регистрация</a>
    </div>
        </div>
    
</section>
</div>

{% include 'container_partners.html' %}


<section>
    <div class="social">
        <div class="container">
            <div class="head_social">
                <div class="title_social_up">
                    <p class="text_of_title_social_up"><span>Следите за нами в </span> соц.сетях</p>
                </div>
                <div class="title_social_down">
                    <p class="text_of_title_social_down">Узнавайте первыми об интересных событиях и акциях!</p>
                </div>
            </div>
            <div class="social_link">
                <div class="social_card">
                    <div class="card"> 
                        <div class="block_link">
                        <a clas = 'card-link' href="#">
                            <div class="card_wrap-img_link">
                                <img src="{% static 'img/social_icon_under/back_inst.png' %}">
                                <div class="img-layer_link"></div>
                                <div class = 'wrap-icon_link'>
                                    <img class = 'test-icon_link' src="{% static 'img/social_icon_under/instagramm.svg' %}" alt="">
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="card"> 
                        <div class="block_link">
                        <a clas = 'card-link' href="#">
                            <div class="card_wrap-img_link">
                                <img src="{% static 'img/social_icon_under/back_facebook.png' %}">
                                <div class="img-layer_link"></div>
                                <div class = 'wrap-icon_link'>
                                    <img class = 'test-icon_link' src="{% static 'img/social_icon_under/youtube.svg' %}" alt="">
                                </div>
                            </div>
                           </a>
                        </div>
                    </div>
                    <div class="card"> 
                        <div class="block_link">
                        <a clas = 'card-link' href="#">
                            <div class="card_wrap-img_link">
                                <img src="{% static 'img/social_icon_under/back_youtube.png' %}">
                                <div class="img-layer_link"></div>
                                <div class = 'wrap-icon_link'>
                                    <img class = 'test-icon_link' src="{% static 'img/social_icon_under/facebook.svg' %}" alt="">
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="card"> 
                        <div class="block_link">
                        <a clas = 'card-link' href="#">
                            <div class="card_wrap-img_link">
                                <img src="{% static 'img/social_icon_under/back_vk.png' %}">
                                <div class="img-layer_link"></div>
                                <div class = 'wrap-icon_link'>
                                    <img class = 'test-icon_link' src="{% static 'img/social_icon_under/vk.svg' %}" alt="">
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>            
         </div>
     </div>
</section>

{% include 'footer.html' %}
  <script src="{% static 'js/header.js' %}"></script>
   <script src="{% static 'js/dinamo_events.js' %}"></script>
</body>
</html>