<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-stadium-style.css' %}">
    <title>О стадионе</title>
</head>
<body>
    <div class="wrapper">
        {% include 'header.html' %}

        <main>
            <div class="container__nav">
                <div class="container">
                    <div class="main__nav">
                        <a href="{% url 'main:main_page' %}" class="main__nav-link">
                            Главная
                        </a>
                        <img src="{% static 'img/main-nav-vector.svg' %}" alt="">
                        <a href="{% url 'about:about' %}" class="main__nav-link">
                            О стадионе
                        </a>
                    </div>
                </div>
            </div>
            <div class="container__navigation">
                <div class="navigation">
                    <div class="navigation__background">
                        <div class="container">
                            <div class="navigation__visual">
                                <img src="{% static 'img/navigation.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container__about">
                <div class="container">
                    <div class="about">
                        <a href="{% url 'about:history' %}" class="about__card">
                            <div class="card__img">
                                <img src="{% static 'img/card_img-1.png' %}" alt="">
                            </div>
                            <div class="card__title">
                                История стадиона
                            </div>
                        </a>
                        <a href="{% url 'about:managment' %}" class="about__card">
                            <div class="card__img">
                                <img src="{% static 'img/card_img-2.png' %}" alt="">
                            </div>
                            <div class="card__title">
                                Руководство
                            </div>
                        </a>
                        <a href="{% url 'about:employee' %}" class="about__card">
                            <div class="card__img">
                                <img src="{% static 'img/card_img-3.png' %}" alt="">
                            </div>
                            <div class="card__title">
                                Наши сотрудники
                            </div>
                        </a>
                        <a href="{% url 'about:documents' %}" class="about__card">
                            <div class="card__img">
                                <img src="{% static 'img/card_img-4.png' %}" alt="">
                            </div>
                            <div class="card__title">
                                Документы
                            </div>
                        <a href="{% url 'about:vacancy' %}" class="about__card">
                            <div class="card__img">
                                <img src="{% static 'img/card_img-5.png' %}" alt="">
                            </div>
                            <div class="card__title">
                                Вакансии
                            </div>
                        </a>
                        <p class="about__text">
                            Национальный олимпийский стадион «Динамо» — многофункциональная арена мирового уровня.
                        </p>
                        <p class="about__text about__text-margin">
                            Сертификат Всемирной легкоатлетической ассоциации первой категории, а также четвертая категория Союза европейских футбольных ассоциаций (УЕФА)
                            позволяют проводить на стадионе легкоатлетические и футбольные турниры
                            мирового уровня.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container__stadium-layout">
                <div class="container">
                    <div class="stadium-layout">
                        <div class="stadium-layout__title">
                            схема секторов
                        </div>
                        <div class="stadium-layout__image">
                            <img src="{% static 'img/stadium-layout-img.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include 'footer.html' %}
    </div>
    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>