<html lang="rus">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/managment-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:Roboto+Condensed&subset=cyrillic" rel="stylesheet">
    <title>Руководство</title>
</head>
<body>

    {% include 'header.html' %}

    <div class="wrapper">
    <section>
        <div class="navigation_block_managment">
            <div class="container">
                <div class="managment_navigate">
                    <p class="header_link_managment">Главная</p>
                    <img src="{% static 'img/icons/icon-arrow-active-right.svg' %}">
                    <p class="header_link_hidden1_managment">О стадионе</p>
                    <img src="{% static 'img/icons/icon-arrow-active-right.svg' %}">
                    <p class="header_link_hidden2_managment">Руководство</p>
                </div>
                <div class="managment_heading">
                    <p class="managment_heading_text">Руководство</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="managment_block">
            <div class="container_managment">
                <div class="wrap_block_managment">
                    <div class="wrap_card">
                        <div class="wrap_card_left">
                            <p class="header_title">Генеральный директор Государственного учреждения «Национальный олимпийский стадион «Динамо»</p>
                            <p class="bold_text">Бут-Гусаим Александр Владимирович</p>
                            <p>Родился 30 января 1985 года в городе Бресте. Образование: Брестский государственный университет им. А.С. Пушкина (тренер-преподаватель по легкой атлетике). Российский международный олимпийский университет (менеджер в индустрии спорта).</p>
                            <p>Председатель дисциплинарной и антидопинговой комиссии Общественного объединения «Белорусская федерация легкой атлетики». Член Дисциплинарной антидопинговой комиссии при Национальном антидопинговом агентстве.</p>
                            <p>Работал тренером, инструктором-методистом в ОЦСДЮШОР профсоюзов; тренером в ОСДЮШОР по легкой атлетике. Спортивным директором, генеральным секретарем в Общественном объединении «Белорусская федерация легкой атлетики». Менеджером фонда «Дирекция II Европейских игр 2019 года»; генеральным координатором Матчевой встречи Европа – США; генеральным координатором командного чемпионата мира по спортивной ходьбе.</p>
                            <p class="last_text">28 февраля 2020 года назначен на должность генерального директора Государственного учреждения «Национальный олимпийский стадион «Динамо».</p>
                            <p class="contact">Телефон и факс: <span>  +375 (17) 243 09 11</span></p>
                            <p class="contact">E-mail: <span>  stadion_dinamo@mail.ru</span></p>
                            <p class="contact">Электронные обращения граждан принимаются на е-mail: <span>  info@stadium-dinamo.by</span></p>
                            <p class="under_bold">Прием по личным вопросам – каждый вторник месяца с 15:00 до 18:00</p>
                        </div>
                        <div class="wrap_card_right">
                            <img src="{% static 'img/photo_managment/photo1.png' %}">
                            <img src="{% static 'img/photo_managment/small_photo1.png' %}" class="hidden_img">
                        </div>
                    </div>
                    <div class="wrap_card">
                        <div class="wrap_card_left">
                            <p class="header_title">Заместитель генерального директора по основной деятельности</p>
                            <p class="bold_text">Возняк Станислав Анатольевич</p>
                            <p>Родился 18 февраля 1970 года в посёлке Привокзальный, Верхотурского района, Свердловской области России. Образование – высшее военное. В 2012 году окончил Институт повышения квалификации и переподготовки руководящих работников и специалистов физической культуры, спорта и туризма УО «Белорусский государственный университет физической культуры».</p>
                            <p>С августа 1987 года по июнь 2018 года проходил службу во внутренних войсках МВД РБ на должностях: командир взвода, заместитель командира взвода, командир патрульной роты специального назначения, начальник штаба батальона, командир батальона, начальник физической подготовки и спорта войсковой части, заместитель начальника спортивной команды внутренних войск МВД РБ, начальник спортивной команды внутренних войск МВД РБ.</p>
                            <p>18 июля 2018 года назначен на должность заместителем генерального директора по основной деятельности Государственного учреждения «Национальный олимпийский стадион «Динамо».</p>
                            <p class="last_text">Курирует организацию и проведение спортивных и культурно-массовых мероприятий, организацию идеологической работы, взаимодействие со средствами массовой информации, автомобильную службу, организацию охраны труда.</p>
                            <p class="contact">Телефон: <span>  +375 (17) 243 00 89</span></p>
                            <p class="under_bold">Прием по личным вопросам – каждый четверг месяца с 15:00 до 18:00</p>
                        </div>
                        <div class="wrap_card_right">
                            <img src="{% static 'img/photo_managment/photo2.png' %}" >
                            <img src="{% static 'img/photo_managment/small_photo2.png' %}" class="hidden_img">
                        </div>
                    </div>
                    <div class="wrap_card">
                        <div class="wrap_card_left">
                            <p class="header_title">Заместитель генерального директора по административно-хозяйственной деятельности</p>
                            <p class="bold_text">Криводубский Юрий Владимирович</p>
                            <p>Родился 4 марта 1969 года в городе Слуцке Минской области. Образование – высшее, окончил БГУ, факультет радиофизики и электроники. В 1987-1989 годах проходил срочную военную службу в рядах Советской Армии. В 2002 году с отличием окончил Академию управления при Президенте Республики Беларусь по специальности управление социально-культурной сферой.</p>
                            <p>Работал учителем в школе в г. Слуцке. С 1997 года по 2010 год работал в сфере молодежной политики. Прошел путь от начальника отдела городского комитета до первого секретаря Центрального комитета общественного объединения «Белорусский республиканский союз молодежи».</p>
                            <p>С февраля 2010 года по август 2013 работал на стадионе «Динамо» заместителем директора и директором. С августа 2013 года по февраль 2018 работал заместителем генерального директора государственного учреждения физической культуры и спорта «Футбольный клуб «Минск». С февраля 2018 года до августа 2019 года – директор ООО «Динамо-Арена».</p>
                            <p>19 августа 2019 года назначен на должность заместителя генерального директора по административно-хозяйственной деятельности Государственного учреждения «Национальный олимпийский стадион «Динамо».</p>
                            <p class="last_text">Курирует вопросы всестороннего хозяйственного обеспечения деятельности учреждения, организует проведение государственных закупок в соответствии с законодательством.</p>
                            <p class="contact">Телефон: <span>  +375 (17) 243 02 08</span></p>
                            <p class="under_bold">Прием по личным вопросам – каждый вторник месяца с 15:00 до 18:00</p>
                        </div>
                        <div class="wrap_card_right">
                            <img src="{% static 'img/photo_managment/photo3.png' %}">
                            <img src="{% static 'img/photo_managment/small_photo3.png' %}" class="hidden_img">
                        </div>
                    </div>
                  
                    <div class="wrap_card">
                        <div class="wrap_card_left">
                            <p class="header_title">Главный инженер</p>
                            <p class="bold_text">Герасименко Александр Николаевич</p>
                            <p>Родился 1 апреля 1963 года в г. Минске. Образование высшее военное. Окончил Орджоникидзевское высшее зенитное ракетное командное училище ПВО имени И.А. Плиева. Проходил службу в г. Новокузнецк Кемеровской области, в Военной академии Республики Беларусь.</p>
                            <p>После увольнения из рядов Вооруженных сил работал слесарем КИПиА ремонтно-механического завода и инженером КИПиА хлебозавода № 3 КУП «Минскхлебпром». С 2007 по 2014 работал главным специалистом, а потом начальником отдела энергетики Мингорисполкома. С 2014 по 2017 – заместитель начальника отдела инженерно-технических работ ремонтно-технического управления Государственного учреждения «Главное хозяйственное управление» Управления делами Президента Республики Беларусь.</p>
                            <p class="last_text">С 2018 года работает в Государственном учреждении «Национальный олимпийский стадион «Динамо». Курирует технические службы стадиона и вопросы содержания зданий и сооружений.</p>
                            <p class="contact">Телефон: <span>  +375 (17) 243 01 41</span></p>
                          
                            
                        </div>
                        <div class="wrap_card_right">
                            <img src="{% static 'img/photo_managment/photo4.png' %}">
                            <img src="{% static 'img/photo_managment/small_photo4.png' %}" class="hidden_img">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="footer">
                <nav class="footer__nav">
                    <a href="#" class="footer__link footer__text">
                        Карта сайта
                    </a>
                    <a href="#" class="footer__link footer__text">
                        Обратная связь
                    </a>
                </nav>
                <div class="footer__social">
                    <p class="footer__social-title footer__text">
                        Следите за нами в соц.сетях
                    </p>
                    <div class="footer__social-block">
                        <a href="#" class="social-block__link">
                            <img src="{% static 'img/footer/instagramm.svg' %}" alt="">
                        </a>
                        <a href="#" class="social-block__link">
                            <img src="{% static 'img/footer/facebook.svg' %}" alt="">
                        </a>
                        <a href="#" class="social-block__link">
                            <img src="{% static 'img/footer/vk.svg' %}" alt="">
                        </a>
                        <a href="#" class="social-block__link">
                            <img src="{% static 'img/footer/youtube.svg' %}" alt="">
                        </a>
                    </div>
                </div>
                <form action="#" class="footer__form">
                    <p class="footer__form-title footer__text">
                        Подписывайтесь на email-рассылку
                    </p>
                    <div class="footer__form-block">
                        <input type="text" class="form-block__input" placeholder="sportsmen228@gmail.com">
                        <button class="form-block__button footer__text">
                            Подписаться
                        </button>
                    </div>
                </form>
            </div>
            <p class="footer__subtitle">
                2021 © Все права защищены
            </p>
        </div>
    </footer>
</div>
    <script src="{% static 'header.js' %}"></script>
</body>
</html>