{% load static %}

            <div class="container__payment">
                <div class="container">
                    <div class="payment">
                        <div class="payment__logo">
                            <img src="{% static 'img/payment__logo.svg' %}" alt="">
                        </div>
                        <div class="payment__image">
                            <img src="{% static 'img/payment__mobile.png' %}" alt="">
                        </div>
                        <div class="payment__title">
                            Оплачивайте услуги онлайн прямо на сайте!
                        </div>
                        <a href="{% url 'services:services' %}" class="payment__link">
                            Перейти в каталог услуг
                        </a>
                    </div>
                </div>
            </div>









