
            <div class="container__number">
                <div class="container">
                    <div class="number__title">
                        Стадион «ДИНАМО» <span>в цифрах</span>
                    </div>
                    <div class="number__table">
                        <div class="table__item table__first">
                            <p class="table__title">
                                <span>22 246</span>
                                зрителей
                            </p>
                            <p class="table__subtitle">
                                Вместимость стадиона
                            </p>
                        </div>
                        <div class="table__item table__second">
                            <p class="table__title">
                                <span>47 015</span>
                                м²
                            </p>
                            <p class="table__subtitle">
                                Общая площадь
                            </p>
                        </div>
                        <div class="table__item table__three">
                            <p class="table__title">
                                <span>40</span>
                            </p>
                            <p class="table__subtitle">
                                VIP-лож
                            </p>
                        </div>
                        <div class="table__item table__four">
                            <p class="table__title">
                                <span>233</span>
                            </p>
                            <p class="table__subtitle">
                                Парковочных места
                            </p>
                        </div>
                        <div class="table__item table__five">
                            <p class="table__title">
                                <span>350</span>
                            </p>
                            <p class="table__subtitle">
                                Прожекторов
                            </p>
                        </div>
                        <div class="table__item table__six">
                            <p class="table__title">
                                <span>13</span>
                            </p>
                            <p class="table__subtitle">
                                Беговых дорожек
                            </p>
                        </div>
                    </div>
                </div>
            </div>