{% load static %}
            <div class="container__media">
                <div class="show-media">
                    <div class="show-media__img">
                        <img src="{% static 'img/media/media_show.png' %}" alt="">
                    </div>
                    <div class="show-media__cross"></div>
                    <div class="show-media__block">
                        <a href="#" class="show-media__link">
                            Смотреть больше фотографий
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="media__block-title">
                        <div class="media__title">
                                <span>Ценим</span> яркие моменты
                        </div>
                        <div class="media__button">
                                <button class="media__button-foto">
                                    Фото
                                </button>
                                <button class="media__button-video">
                                    Видео
                                </button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="media__container">
                        <div class="media__item-left">
                            <div class="item__left media__backgrond">
                                <img src="{% static 'img/media/layer_left.png' %}" alt="">
                            </div>
                        </div>
                        <div class="media__content">
                            <div class="media__wrap">
                                <div class="media-column">
                                    <div class="media__item">
                                        <img src="{% static 'img/media/media_img4.png' %}" alt="">
                                    </div>
                                    <div class="media__item">
                                        <img src="{% static 'img/media/media_img2.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="media-column">
                                    <div class="media__item">
                                        <img src="{% static 'img/media/media_img3.png' %}" alt="">
                                    </div>
                                    <div class="media__item">
                                        <img src="{% static 'img/media/media_img1.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="media__block">
                                        <div class="media__item">
                                            <img src="{% static 'img/media/media_image.png' %}" alt="">
                                        </div>
                                </div>
                            </div>
                            <a href="#" class="media__link">
                                Смотреть больше фотографий
                            </a>
                        </div>
                        <div class="media__item-right">
                            <div class="item__right media__backgrond">
                                <img src="{% static 'img/media/layer_right.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>