{% load static %}
            <div class="container__main">
                <div class="main">
                    <div class="main__background">
                        <div class="main__arrow left"></div>
                        <div class="container">
                            <div class="main__content">
                                <h1 class="main__title">
                                    Национальный <br> олимпийский <br> стадион «Динамо»
                                </h1>
                                <p class="main__subtitle">
                                    Рождён для ярких побед
                                </p>
                                <a href="#" class="main__link">
                                    История стадиона
                                </a>
                            </div>
                        </div>
                        <div class="main__arrow right"></div>
                    </div>
                </div>
            </div>