{% load static %}
            <div class="container__partners">
                <div class="partners">
                    <div class="container">
                        <div class="partners__column column__left">
                            <img src="{% static 'img/partners_column-left.svg' %}" alt="">
                        </div>
                        <div class="partners__column column__right">
                            <img src="{% static 'img/partners_column-right.svg' %}" alt="">
                        </div>
                        <div class="partners__content">
                            <h3 class="partners__title">
                                Партнёры
                            </h3>
                            <div class="partners__wrapper">
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_adiddas.svg' %}" alt="">
                                </div>
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_cocacola.svg' %}" alt="">
                                </div>
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_dove.svg' %}" alt="">
                                </div>
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_fila.svg' %}" alt="">
                                </div>
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_invidea.svg' %}" alt="">
                                </div>
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_nivea.svg' %}" alt="">
                                </div>
                                <div class="partners__item">
                                    <img src="{% static 'img/partners_icons/partners_oldspice.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>