{% load static %}

            <div class="container__service">
                <div class="container">
                    <div class="service">
                        <h2 class="service__title">
                            Лучшие <span>услуги</span> для Вас
                        </h2>
                        <div class="service__wrapper">
                            <div class="service__rent">
                                <div class="rent__background">
                                    <p class="rent__text">
                                        Аренда помещений
                                    </p>
                                    <a href="#" class="rent__link">

                                    </a>
                                </div>
                                <a href="{% url 'services:services' %}" class="service__link">
                                    Смотреть все услуги
                                </a>
                            </div>
                            <div class="service__commercial">
                                <div class="commercial__container">
                                    <div class="commercial__block">
                                        <div class="commercial__background">
                                            <p class="commercial__text">
                                                Реклама
                                            </p>
                                        </div>
                                    </div>
                                    <div class="commercial__block">
                                        <div class="commercial__background">
                                            <p class="commercial__text">
                                                Проведение праздников, банкетов и фуршетов
                                            </p>
                                        </div>
                                    </div>
                                    <div class="commercial__block">
                                        <div class="commercial__background">
                                            <p class="commercial__text">
                                                Организация бизнес-встреч
                                            </p>
                                        </div>
                                    </div>
                                    <div class="commercial__block">
                                        <div class="commercial__background">
                                            <p class="commercial__text">
                                                Площадки для игры в футбол, баскетбол, волейб...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commercial__carousel">
                                    <div class="carousel__left">

                                    </div>
                                    <div class="carousel__page">
                                        <div class="page"></div>
                                        <div class="page"></div>
                                        <div class="page"></div>
                                        <div class="page"></div>
                                    </div>
                                    <div class="carousel__right">

                                    </div>
                                </div>
                            </div>
                            <a href="#" class="service__link service__link-mobile">
                                Смотреть все услуги
                            </a>
                        </div>
                    </div>
                </div>
            </div>

