{% load static %}
            <div class="container__news">
                <div class="container">
                    <div class="news__flex">
                        <div class="news__arrow news__left"></div>
                        <div class="news__arrow news__right"></div>
                        <div class="news__container">
                            <div class="news">
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="news__item">
                                    <div class="item__background">
                                        <div class="item__block">
                                            <p class="item__title">
                                                На "Динамо" идет подготовка поля к первому футбольному матчу сезона 2021
                                            </p>
                                            <p class="item__subtitle">
                                                27 марта национальная сборная по футболу проведет домашний матч против эстонцев. Игра начнется в 20:00. Напомним, жребий определил Беларусь в отборочную группу Е вместе ...
                                            </p>
                                            <a href="#" class="item__link">
                                                Читать полностью
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'news:news' %}" class="news__link">
                            Смотреть все новости
                        </a>
                    </div>
                </div>
            </div>

