.wrapper {
  width: 100%;
  position: relative;
}

.additional {
  background: #F7F4F0;
  width: 100%;
}

.container {
  max-width: 1270px;
  padding: 0 20px;
  margin: 0 auto;
}

.additional__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 14px 0;
}

.additional__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 402px;
          flex: 1 1 402px;
  max-width: 402px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__telefon {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #594E4B;
  padding-left: 16px;
  background: url(../img/icons/icon-telefon.svg) no-repeat left;
}

.contacts__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #594E4B;
  padding-left: 20px;
  background: url(../img/icons/icon-email.svg) no-repeat left;
}

.additional__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 145px;
          flex: 1 1 145px;
  max-width: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.additional__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 370px;
          flex: 1 1 370px;
  max-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #594E4B;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 85px;
  background: #FFFFFF;
  z-index: 1;
}

.header__body {
  position: relative;
  z-index: 2;
  padding: 12px 0 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 310px;
          flex: 1 1 310px;
  max-width: 470px;
}

.logo__link {
  margin-right: 9px;
}

.logo__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2B1817;
}

.header__burger {
  display: none;
}

.menu__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__map {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #140605;
}

.header__link:hover {
  color: #A23228;
}

.selected {
  color: #A09999;
}

.list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item a {
  margin-right: 8px;
}

.list__item.hover div:nth-child(2) {
  opacity: 1;
  visibility: visible;
}

.list__item.hover .header__link {
  color: #A23228;
}

.list__item.hover .link__arrow {
  background: url(../img/icons/icon-arrow-active-under-menu.svg) no-repeat center center;
}

.list__item.hover::after {
  content: '';
  position: absolute;
  width: 82px;
  height: 3px;
  bottom: -31px;
  left: 0;
  background-color: #A23228;
}

.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__line {
  height: 12px;
  width: 1px;
  background: #3E3332;
  display: block;
}

.link__arrow {
  display: block;
  position: relative;
  left: -1px;
  width: 27px;
  height: 27px;
  background: url(../img/icons/icon-arrow-down-black.svg) no-repeat center center;
}

.link__arrow:hover {
  background-color: #594E4B;
  background-image: url(../img/icons/icon-arrow-down-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
}

.menu-extra__container {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 827px;
  top: 58px;
  left: -285px;
  background: #FDFCFB;
  border-radius: 2px;
  padding: 24px 24px 32px 32px;
  visibility: hidden;
  opacity: 0;
}

.menu-extra__block {
  margin-right: 40px;
}

.menu-extra__block:last-child {
  margin: 0;
}

.menu-extra__link {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #140605;
  margin-bottom: 24px;
}

.menu-extra__link:last-child {
  margin: 0;
}

.menu-extra__media {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 58px;
  left: -40px;
  background: #FDFCFB;
  border-radius: 2px;
  padding: 24px 24px 32px 32px;
  visibility: hidden;
  opacity: 0;
}

.menu-extra__media.hover {
  visibility: visible;
  opacity: 1;
}

.menu-mobile__container {
  display: none;
}

.menu-mobile__block {
  display: none;
}

.enter__block {
  display: none;
}

.enter__link {
  display: block;
  width: 57px;
  height: 57px;
  background: url(../img/enter__backgound.svg), -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: url(../img/enter__backgound.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
  border-radius: 2px;
}

.header__contacts {
  display: none;
}

.header__social {
  display: none;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  header .container {
    max-width: none;
    padding: 0 20px;
  }
  .header__additional {
    display: none;
  }
  .header {
    position: fixed;
  }
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }
  .header__burger {
    display: block;
    width: 36px;
    height: 24px;
    z-index: 2;
    position: relative;
  }
  .header__burger::after, .header__burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #140605;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #140605;
    left: 0;
    top: 10px;
  }
  .header__burger.active::before {
    opacity: 0;
    visibility: hidden;
  }
  .header__burger.active::after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .header__burger.active span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0;
  }
  .menu__container {
    display: none;
  }
  .menu__container.active {
    position: fixed;
    overflow-x: auto;
    top: 0;
    right: 0;
    width: 360px;
    height: 100%;
    padding: 60px 24px 32px 24px;
    background: #F7F4F0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__map .map__link {
    display: block;
    margin-bottom: 40px;
  }
  .header__map .map__link:last-child {
    margin-bottom: 69px;
  }
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 80px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .header__list li {
    margin-bottom: 40px;
  }
  .header__list li:last-child {
    display: none;
  }
  .selected {
    color: initial;
  }
  .list__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .link__line {
    display: none;
  }
  .link__arrow {
    display: block;
    position: static;
    width: 24px;
    height: 24px;
    background: url(../img/icons/icon-arrow-down-white.svg), #594E4B;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
  }
  .menu-extra__container {
    display: none;
  }
  .menu-extra__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }
  .menu-extra__media {
    display: none;
  }
  .menu-mobile__container {
    display: none;
    background: #A23228;
    border-radius: 2px;
    position: relative;
    z-index: 7;
  }
  .menu-mobile__container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-mobile__container div:nth-child(even) {
    background: rgba(255, 255, 255, 0.1);
  }
  .menu-mobile__container div a {
    width: 100%;
    margin-right: 20px;
    padding: 5px 5px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
  }
  .menu-mobile__block {
    display: none;
    background: #A23228;
    padding: 11px 8px 16px 8px;
    border-radius: 2px;
  }
  .menu-mobile__block a {
    display: block;
  }
  .list__item.hover div:nth-child(3) {
    display: block;
  }
  .list__item.hover::after {
    display: none;
  }
  .list__item.hover .link__arrow {
    width: 24px;
    height: 24px;
    background: url(../img/icons/icon-arrow-down-white.svg), #A23228;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px 2px 0px 0px;
  }
  .enter__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .enter__item {
    display: inline-block;
    width: 51px;
    height: 51px;
    background: url(../img/enter__backgound.svg), -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
    background: url(../img/enter__backgound.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
            box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
    border-radius: 2px;
    margin-right: 8px;
  }
  .list__item-enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__contacts a {
    display: block;
    margin-bottom: 40px;
  }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__social .social__link {
    display: block;
    margin-right: 32px;
  }
  .header__social .social__link:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header::before {
    height: 45px;
    background: #F7F4F0;
  }
  .header__body {
    padding: 9px 0 12px 0;
    position: static;
    z-index: 0;
  }
  .logo__link {
    display: block;
    width: 64px;
    height: 25px;
  }
  .logo__link img {
    width: 100%;
    height: 100%;
  }
  .logo__text {
    font-size: 12px;
    line-height: 110%;
    color: #594E4B;
  }
  .header__logo {
    position: relative;
    z-index: 2;
  }
  .header__burger {
    width: 24px;
    height: 16px;
    z-index: 2;
  }
  .header__burger::before, .header__burger::after {
    height: 2px;
  }
  .header__burger span {
    height: 2px;
    top: 7px;
  }
  .header__burger.active::after {
    top: 8px;
  }
  .header__map {
    position: absolute;
    right: 25px;
  }
  .menu__container.active {
    width: 100%;
    padding: 90px 24px 32px 24px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}

.container__news {
  padding-top: 8px;
}

.search__button-mob {
  display: none;
}

.news__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 54px;
}

.news__nav a:nth-child(1) {
  color: #594E4B;
  border-bottom: 1px solid #594E4B;
  margin-right: 8px;
}

.news__nav img {
  margin-right: 8px;
}

.news__nav a:nth-child(3) {
  color: #A09999;
}

h2 {
  width: 70%;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #140605;
  margin-bottom: 56px;
}

h2 span {
  color: #A09999;
}

.news__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  max-width: 600px;
}

.form__search input {
  width: 100%;
  margin-right: 8px;
  padding: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #A09999;
  background: #FFFFFF;
  border: 1px solid #A09999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.form__search .search__button {
  padding: 16px 16px 16px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background: url(../img/form_search_vektor.svg), -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: url(../img/form_search_vektor.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
  -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 20%;
}

.form__search .search__button:hover {
  background: url(../img/form_search_vektor.svg), #9E6D2F;
  background-repeat: no-repeat;
  background-position: 20%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__selected {
  -ms-flex-preferred-size: 193px;
      flex-basis: 193px;
  max-width: 193px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #594E4B;
  position: relative;
  padding: 15px 24px 20px 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 5px rgba(20, 6, 5, 0.1);
          box-shadow: 0px 3px 5px rgba(20, 6, 5, 0.1);
  border-radius: 2px;
}

.form__selected p {
  position: relative;
  padding-right: 51px;
}

.form__selected p::after {
  content: url("../img/form_selected_vektor.svg");
  display: inline-block;
  margin-top: 1px;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form__selected.choice p::after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.form__selected.choice .form__list {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
  visibility: visible;
}

.form__list {
  background: #FFFFFF;
  border: 1px solid #C89555;
  -webkit-box-shadow: 0px 3px 5px rgba(20, 6, 5, 0.1);
          box-shadow: 0px 3px 5px rgba(20, 6, 5, 0.1);
  border-radius: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.form__list li {
  width: 100%;
  padding: 16px 8px 16px 16px;
}

.form__list li:hover {
  background: #C89555;
  color: #FFFFFF;
}

.wrapper__news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  margin-bottom: 40px;
}

.news__item:hover .news__block-img .news__img-link {
  opacity: 1;
  visibility: visible;
}

.news__item:hover .news__title {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.news__block-img {
  padding-bottom: 49%;
  overflow: hidden;
  position: relative;
}

.news__block-img .news__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.news__block-img .news__img-link {
  position: absolute;
  bottom: 8px;
  left: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.news__text {
  min-height: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 5px rgba(20, 6, 5, 0.1);
          box-shadow: 0px 3px 5px rgba(20, 6, 5, 0.1);
  border-radius: 2px;
}

.news__text p:nth-child(1) {
  margin-bottom: 8px;
}

.news__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A09999;
}

.news__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #140605;
  margin-bottom: 16px;
  max-height: 100px;
  word-break: break-word;
  overflow: hidden;
}

@media (max-width: 992px) {
  .container__news {
    padding-top: 100px;
  }
  .container {
    max-width: 720px;
  }
  h2 {
    width: 100%;
  }
  .news__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .form__search {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .form__selected {
    -ms-flex-preferred-size: 174px;
        flex-basis: 174px;
    max-width: 174px;
  }
  .form__selected p {
    padding-right: 0;
  }
  .wrapper__news {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .container__news {
    padding-top: 60px;
  }
  .news__nav {
    margin-bottom: 35px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .news__form {
    margin-bottom: 24px;
  }
  .form__search {
    margin-bottom: 16px;
  }
  .form__search .search__button {
    display: none;
  }
  .form__search input {
    margin-right: 0;
  }
  .form__search .search__button-mob {
    display: block;
    height: 100%;
    position: relative;
    right: 2px;
    width: 50px;
    padding: 16px 17px;
    background: url(../img/form_search_vektor.svg), -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
    background: url(../img/form_search_vektor.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
  .form__search .search__button-mob:hover {
    background: url(../img/form_search_vektor.svg), #9E6D2F;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .form__selected {
    padding: 12px 24px 15px 24px;
    font-size: 14px;
    line-height: 16px;
    -ms-flex-preferred-size: 147px;
        flex-basis: 147px;
    max-width: 147px;
  }
  .form__selected p {
    padding-right: 0;
  }
  .form__selected p::after {
    right: -8px;
  }
  .form__list {
    top: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .form__list li {
    padding: 8px;
  }
  .wrapper__news {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
  .news__text {
    padding: 8px 4px 12px 4px;
  }
  .news__subtitle {
    font-size: 12px;
    line-height: 14px;
  }
  .news__title {
    font-weight: normal;
    font-size: 14px;
    max-height: 70px;
    margin-bottom: 8px;
  }
  .news__block-img {
    padding-bottom: 60%;
  }
  .news__block-img .news__img-link {
    position: absolute;
    bottom: 8px;
    left: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    width: 20px;
    height: 20px;
  }
  .news__block-img .news__img-link img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    width: 100%;
    padding: 0 8px;
  }
}

.news__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 135px;
}

.wrapper__page {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__link {
  background: -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
  -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 16px 54px 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__link::after {
  content: url("../img/vektor_next_page.svg");
  display: block;
  margin-left: 8px;
}

.page__link:hover {
  background: #9E6D2F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__block input {
  width: 35px;
  height: 32px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #594E4B;
  border: 1px solid #594E4B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin-right: 16px;
}

.page__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #594E4B;
  margin-right: 16px;
}

.button__next {
  background: url(../img/vektor_button_next.svg), -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: url(../img/vektor_button_next.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
}

.button__next:hover {
  background: url(../img/vektor_button_next.svg), #9E6D2F;
  background-repeat: no-repeat;
  background-position: center;
}

.button__previos {
  margin-right: 8px;
  background: url(../img/vektor_button_previos.svg), -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: url(../img/vektor_button_previos.svg), linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
}

.button__previos:hover {
  background: url(../img/vektor_button_previos.svg), #BB9D78;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
}

.page__button {
  width: 32px;
  height: 32px;
  -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 992px) {
  .wrapper__page {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .page__link {
    width: 100%;
    padding: 16px;
    text-align: center;
  }
  .page__block {
    display: none;
  }
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#594E4B), to(#453936));
  background: linear-gradient(180deg, #594E4B 0%, #453936 100%);
  width: 100%;
  padding: 32px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__nav {
  -ms-flex-preferred-size: 315px;
      flex-basis: 315px;
}

.footer__link {
  display: block;
  color: #FFFFFF;
}

.footer__link:nth-child(1) {
  margin-bottom: 34px;
}

.footer__social {
  -ms-flex-preferred-size: 420px;
      flex-basis: 420px;
}

.footer__social-title {
  margin-bottom: 25px;
}

.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-block__link {
  margin-right: 24px;
}

.social-block__link:last-child {
  margin-right: 0;
}

.footer__form-title {
  margin-bottom: 16px;
}

.footer__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-block__input {
  margin-right: 8px;
  width: 324px;
  padding: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #140605;
}

.form-block__input::-webkit-input-placeholder {
  color: #A09999;
}

.form-block__input:-ms-input-placeholder {
  color: #A09999;
}

.form-block__input::-ms-input-placeholder {
  color: #A09999;
}

.form-block__input::placeholder {
  color: #A09999;
}

.form-block__button {
  background: -webkit-gradient(linear, left top, left bottom, from(#C89555), to(#9E6D2F));
  background: linear-gradient(180deg, #C89555 0%, #9E6D2F 100%);
  -webkit-box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
          box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.3);
  border-radius: 2px;
  padding: 16px 32px;
}

.form-block__button:hover {
  background: #9E6D2F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A09999;
  text-align: center;
}

@media (max-width: 992px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__nav {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer__link {
    margin-bottom: 34px;
  }
  .footer__social {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
    margin-bottom: 48px;
  }
  .footer__form {
    width: 100%;
  }
  .footer__form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-block__link {
    margin-right: 14px;
  }
  .social-block__link:last-child {
    margin-right: 0;
  }
  .footer__form-block {
    width: 100%;
  }
  .form-block__input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
