<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/news-style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">

        {% include 'header.html' %}

        <main>
            <div class="container__news">
                <div class="container">
                    <div class="news">
                        <div class="news__nav">
                            <a href="{% url 'main:main_page' %}">
                                Главная
                            </a>
                            <img src="{% static 'img/vacancy_nav_vektor.svg' %}" alt="">
                            <a href=".">
                                Новости
                            </a>
                        </div>
                        <h2>
                            <span>Узнавайте первыми о</span> самых интересных Новостях стадиона
                        </h2>
                        <form action="#" class="news__form">
                            <div class="form__search">
                                <input type="search" placeholder="Поиск по названию статьи . . .">
                                <button type="submit" class="search__button">
                                    Найти
                                </button>
                                <button type="submit" class="search__button-mob">
                                    
                                </button>
                            </div>
                            <div class="form__selected">
                                <p>
                                    Сортировка
                                </p>
                                <ul class="form__list">
                                    <li>
                                        Сначала новые
                                    </li>
                                    <li>
                                        Сначала старые
                                    </li>
                                    <li>
                                        Сначала популярные
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <div class="wrapper__news">
                            <a href="{% url 'news:details' %}" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="{% url 'news:details' %}" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="{% url 'news:details' %}" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="{% url 'news:details' %}" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="{% url 'news:details' %}" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="#" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="#" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="#" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                            <a href="#" class="news__item">
                                <div class="news__block-img">
                                    <img src="{% static 'img/image 9.png' %}" alt="" class="news__img">
                                    <img src="{% static 'img/vektor_img_link.svg' %}" alt="" class="news__img-link">
                                </div>
                                <div class="news__text">
                                    <p class="news__subtitle">
                                        18 апреля 2021
                                    </p>
                                    <p class="news__title">
                                        Минское «Динамо» уступило «Гомелю» в чемпионате Беларуси по футболу
                                    </p>
                                    <p class="news__subtitle">
                                        Время чтения: 5 минут
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="news__page">
                            <div class="wrapper__page">
                                <a href="#" class="page__link">
                                    Следующая страница
                                </a>
                                <div class="page__block">
                                    <p class="page__text">
                                        Страница
                                    </p>
                                    <input type="text" value="1">
                                    <p class="page__text">
                                        из <span>34</span>
                                    </p>
                                    <button class="button__previos page__button">

                                    </button>
                                    <button class="button__next page__button">
                                        
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
    </div>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/news.js' %}"></script>
</body>
</html>