.container__number {
    width: 100%;
    margin-bottom: 144px;
}
.container {
}
.number__title {
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #A09999;
    margin-bottom: 48px;
    & span{
        color: #140605;
    }
}
.number__table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.table__item {
}
.table__first, .table__second{
    border-right: 1px solid #DAD6D6;
    border-bottom: 1px solid #DAD6D6;
}
.table__three{
    border-bottom: 1px solid #DAD6D6;
}
.table__four, .table__five{
    border-right: 1px solid #DAD6D6;
}
.table__four, .table__five, .table__six{
    padding-top: 50px;
}
.table__second, .table__three, .table__five, .table__six{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table__title {
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    color: #A09999;
    margin-bottom: 24px;
    & span{
        font-family: Roboto Condensed;
        font-style: italic;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: #A23228;
    }
}
.table__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #A09999;
    margin-bottom: 47px;
}

@media (max-width: 768px) {
    .container__number{
        margin-bottom: 64px;
    }
    .number__title{
        font-weight: bold;
        font-size: 24px;
    }
    .number__table{
        grid-template-columns: 1fr 1fr;
    }
    .table__item{
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
        align-items: flex-start;
        margin-bottom: 24px;
        &:last-child{
            margin: 0;
        }
    }
    .table__title {
        font-size: 16px;
        line-height: 110%;
        margin-bottom: 8px;
        & span{
            font-size: 24px;
            line-height: 28px;
        }
    }
    .table__subtitle {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
    }
}